.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ownerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.ownerCard {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ownerCard .attributes {
  font-size: 1.1em; /* Aumentar o tamanho da fonte */
  font-weight: bold; /* Tornar a fonte mais pesada */
  color: #2413a5; /* Mudar a cor do texto */
}


.categorySection {
  margin-bottom: 20px;
}

.ownerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  max-width: 300px;
}

.ownerCard img {
  width: 100%;
  height: auto;
  border-radius: 70%;
  margin-bottom: 15px;
}


.main-info {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.additional-info p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

.ownerCard.Private {
  background-color: #f8f9fa;
}

.ownerCard.Corporal {
  background-color: #e9ecef;
}

.ownerCard.Sergeant {
  background-color: #dee2e6;
}

.ownerCard.Enforcer {
  background-color: #ced4da;
}

.ownerCard.Lieutenant {
  background-color: #c2c8ce;
}

.ownerCard.Captain {
  background-color: #b6bfc6;
}

.ownerCard.Major {
  background-color: #abb3ba;
}

.ownerCard.Commander {
  background-color: #9fa7af;
}

.ownerCard.Brigadier {
  background-color: #929aa2;
}


.categoryHeader {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}


